<div class="panel pad-left-40 pad-top-20 pad-right-30">
  <div (click)="showModal()" class="panel-options center-text pad-top-15 pad-bottom-15 cursor-pointer">{{labels.YOUR_ORGANIZER}}</div>
  <div (click)="showModal()" class="panel-options center-text pad-top-15 pad-bottom-15 cursor-pointer">{{labels.PAYMENTS}}</div>
  <div (click)="showModal()" class="panel-options center-text pad-top-15 pad-bottom-15 cursor-pointer">{{labels.TRANSFERS}}</div>
  <div (click)="showModal()" class="panel-options center-text pad-top-15 pad-bottom-15 cursor-pointer">{{labels.CERTIFICATES}}</div>
  <div (click)="showModal()" class="panel-options center-text pad-top-15 pad-bottom-15 cursor-pointer">{{labels.SECURITY}}</div>
</div>
