<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a (click)="goToDashboard()" class="navbar-brand cursor-pointer">
    <img src="assets/icons/dollar-sign.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Super Bank
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
          data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item cursor-pointer">
        <a class="nav-link" (click)="showModal()">
          {{labels.PROFILE}}
          <img src="assets/icons/user.svg" width="20" height="20" class="d-inline-block align-top" alt="">
        </a>

      </li>
      <li class="nav-item cursor-pointer">
        <a class="nav-link" (click)="showModal()">
          {{labels.ALERTS}}
          <img src="assets/icons/bell.svg" width="20" height="20" class="d-inline-block align-top" alt="">
        </a>
      </li>
    </ul>
  </div>


  <form class="form-inline">
    <button
      (click)="logout()"
      class="btn btn-outline-danger my-2 my-sm-0"
      type="button">
      {{labels.EXIT}}
    </button>
  </form>
</nav>
