@import "src/scss/main";

.container-app{
  @media (max-width: map-get(map_get($break-points, sm), max-width)) {
    padding: 0 20px;
  }
}

.container-data {
  height: 100%;
}

.panel {
  &-display {
    ::ng-deep {
      padding: 0;
    }
  }
}

.container-100 {
  height: 100%;
}
