@import "src/scss/main";

.dashboard {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  grid-row-gap: 10px;
  padding: 15px 0;

  @media (max-width: map-get(map_get($break-points, lg), max-width)) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: map-get(map_get($break-points, md), max-width)) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: map-get(map_get($break-points, xs), max-width)) {
    grid-template-columns: 1fr;
  }

  .product-card__dashboard {
    justify-self: center;
    align-self: end;
  }
}

