$gradient-background-login:
  linear-gradient(to bottom,
    rgba(242,246,248,1) 0%,
    rgba(216,225,231,1) 25%,
    rgba(181,198,208,1) 76%,
    rgba(224,239,249,1) 100%);

$background-panel: #f8f9fa;
$white: #FFFFFF;
