$break-points: (
  xs: (
    min-width: 0,
    max-width: 767px,
  ),
  sm: (
    min-width: 768px,
    max-width: 921px,
  ),
  md: (
    min-width: 922px,
    max-width: 1199px,
  ),
  lg: (
    min-width: 1200px,
    max-width: 4000px,
  ),
)
